<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ETest</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateProduct</servlet-name>
    <jsp-file>/WEB-INF/view/CreateProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panier</servlet-name>
    <jsp-file>/WEB-INF/view/Panier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>catalogue</servlet-name>
    <jsp-file>/WEB-INF/view/catalogue.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>catalogue</servlet-name>
    <url-pattern>/catalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Succes</servlet-name>
    <jsp-file>/WEB-INF/view/Success.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Succes</servlet-name>
    <url-pattern>/Succes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProductServ</servlet-name>
    <servlet-class>fr.m2i.formation.controler.CreateProductServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServ</servlet-name>
    <url-pattern> /CreateProductServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <jsp-file>/WEB-INF/view/UserConnexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WellcomeCommerciale</servlet-name>
    <jsp-file>/WEB-INF/view/AceilleCommerciale.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WellcomeCommerciale</servlet-name>
    <url-pattern>/WellcomeCommerciale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WellcomeInternaute</servlet-name>
    <jsp-file>/WEB-INF/view/AceilleInternaute.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WellcomeInternaute</servlet-name>
    <url-pattern>/WellcomeInternaute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaillConnexion</servlet-name>
    <jsp-file>/WEB-INF/view/FailConnexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaillConnexion</servlet-name>
    <url-pattern>/FaillConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDetailProduct</servlet-name>
    <jsp-file>/WEB-INF/view/ShowDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailProduct</servlet-name>
    <url-pattern>/ShowDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Footer</servlet-name>
    <jsp-file>/WEB-INF/view/Footer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/Footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Header</servlet-name>
    <jsp-file>/WEB-INF/view/Header.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
</web-app>